streamlit
pandas
supabase
bcrypt
qrcode
Pillow
plotly
reportlab
opencv-python-headless
numpy
pyzbar
openpyxl
streamlit-webrtc
pytz
av
pip install streamlit pandas supabase pyzbar qrcode pillow opencv-python-headless plotly reportlab python-dateutil
